pre.textmate-source {
	margin: 0;
	padding: 0 0 0 2px;
	font-family: "Droid Sans Mono", Monaco, monospace, mono;
	font-size: 12px;
	line-height: 1.3em;
	word-wrap: break-word;
	white-space: pre;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -o-pre-wrap;
}

pre.textmate-source.vibrant_ink {
	color: #FFFFFF;
	background-color: #000000;
}

pre.textmate-source.vibrant_ink span {
   padding-top: 0.2em;
   padding-bottom: 0.1em;
}

/* Text base */
pre.textmate-source.vibrant_ink .text {
	color: #FFFFFF;
}

/* Ruby Html */
pre.textmate-source.vibrant_ink .text_html_ruby {
	color: #FFFFFF;
}

/* Ruby Number */
pre.textmate-source.vibrant_ink .constant_numeric_ruby {
	color: #CCFF33;
}

/* Source base */
pre.textmate-source.vibrant_ink .source {
	color: #FFFFFF;
}

/* Comment */
pre.textmate-source.vibrant_ink .comment {
	color: #9933CC;
}

/* Constant */
pre.textmate-source.vibrant_ink .constant {
	color: #339999;
}

/* Keyword */
pre.textmate-source.vibrant_ink .keyword {
	color: #FF6600;
}

/* Pre-processor Line */
pre.textmate-source.vibrant_ink .keyword_preprocessor {
	color: #EDF8F9;
}

/* Pre-processor Directive */
pre.textmate-source.vibrant_ink .keyword_preprocessor .directive {
	color: #FFFFFF;
}

/* Function name */
pre.textmate-source.vibrant_ink .entity_name_function, pre.textmate-source.vibrant_ink .storage_type_function_js {
	color: #FFCC00;
}

/* Function argument */
pre.textmate-source.vibrant_ink .variable_parameter {
	font-style: italic;
}

/* Block comment */
pre.textmate-source.vibrant_ink .source .comment_block {
	color: #772CB7;
}

/* Variable */
pre.textmate-source.vibrant_ink .variable_other {
	color: #FFFFFF;
}

/* ActiveRecord Function */
pre.textmate-source.vibrant_ink .support_function_activerecord_rails {
	color: #999966;
}

/* String */
pre.textmate-source.vibrant_ink .string {
	color: #66FF00;
}

/* String escapes */
pre.textmate-source.vibrant_ink .string .constant_character_escape {
	color: #AAAAAA;
}

/* String (executed) */
pre.textmate-source.vibrant_ink .string_interpolated {
	color: #000000;
}

/* Regular expression */
pre.textmate-source.vibrant_ink .string_regexp {
	color: #44B4CC;
}

/* String (literal) */
pre.textmate-source.vibrant_ink .string_literal {
	color: #CCCC33;
}

/* String escapes (executed) */
pre.textmate-source.vibrant_ink .string_interpolated .constant_character_escape {
	color: #555555;
}

/* Class name */
pre.textmate-source.vibrant_ink .entity_name_class, pre.textmate-source.vibrant_ink .support_class_js {
	text-decoration: underline;
}

/* Class inheritance */
pre.textmate-source.vibrant_ink .entity_other_inherited-class {
	font-style: italic;
	text-decoration: underline;
}

/* Tag name */
pre.textmate-source.vibrant_ink .entity_name_tag {
}

/* Html Meta */
pre.textmate-source.vibrant_ink .meta_tag_inline_any_html, pre.textmate-source.vibrant_ink . .meta_tag_block_any_html {
	color: #FF6600;
}

/* Tag attribute */
pre.textmate-source.vibrant_ink .entity_other_attribute-name {
	color: #99CC99;
	font-style: italic;
}

/* Other Keywords */
pre.textmate-source.vibrant_ink .keyword_other {
	color: #DDE93D;
}

/* CSS Selector */
pre.textmate-source.vibrant_ink .meta_selector_css, pre.textmate-source.vibrant_ink .entity_other_attribute-name_pseudo-class_css, pre.textmate-source.vibrant_ink .entity_name_tag_wildcard_css, pre.textmate-source.vibrant_ink .entity_other_attribute-name_id_css, pre.textmate-source.vibrant_ink .entity_other_attribute-name_class_css {
	color: #FF6600;
}

/* CSS Property */
pre.textmate-source.vibrant_ink .support_type_property-name_css {
	color: #999966;
}

/* CSS Other */
pre.textmate-source.vibrant_ink .keyword_other_unit_css, pre.textmate-source.vibrant_ink .constant_other_rgb-value_css, pre.textmate-source.vibrant_ink .constant_numeric_css {
	color: #FFFFFF;
}

/* Javascript Events */
pre.textmate-source.vibrant_ink .support_function_event-handler_js {
	color: #FFFFFF;
}

/* Javascript Operators */
pre.textmate-source.vibrant_ink .keyword_operator_js {
	color: #FFFFFF;
}

/* Javascript Keywords */
pre.textmate-source.vibrant_ink .keyword_control_js {
	color: #CCCC66;
}

/* Prototype Objects */
pre.textmate-source.vibrant_ink .support_class_prototype_js {
	color: #FFFFFF;
}

/* Prototype Methods */
pre.textmate-source.vibrant_ink .object_property_function_prototype_js {
	color: #FF6600;
}