---
layout: home
title:  "::blowmage::"
---
{% for post in site.posts limit:1 %}
  <article>
    <h1><a href="{{ post.url | replace:'.html','' }}">{{ post.title }}</a></h1>
    <p>{{ post.desc | textilize }}</p>
    <p>Posted {{ post.date | date_to_string }}. <a href="{{ post.url | replace:'.html','' }}#disqus_thread">Comments</a></p>
  </article>
{% endfor %}
{% for post in site.posts limit:7 offset:1 %}
  <article>
    <h2><a href="{{ post.url | replace:'.html','' }}">{{ post.title }}</a></h2>
    <p>{{ post.desc | textilize }}</p>
    <p>Posted {{ post.date | date_to_string }}. <a href="{{ post.url | replace:'.html','' }}#disqus_thread">Comments</a></p>
  </article>
{% endfor %}
<p><a href="/archives" rel="archives">Want <em>even more</em> bloggy stuff? Go exploring in my annals</a></p>

<script>
var disqus_shortname = 'blowmage';
(function () {
  var s = document.createElement('script'); s.async = true;
  s.src = 'http://disqus.com/forums/blowmage/count.js';
  (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
}());
</script>
