/* Use Orange theme by default */
.sidebar,
.sidebar-toggle:active,
#sidebar-checkbox:checked ~ .wrap .sidebar-toggle {
  background-color: #d28445;
}
.container a,
.sidebar-toggle,
.related-posts li a:hover {
  color: #d28445;
}

/* Make posts on the homepage readable */
body#home ul.related-posts > li {
  margin: .5rem;
  padding: .5rem;
  background-color:rgba(255,255,255,0.85);
  border-radius: .5rem;
}
