body {
	font: 19px/24px Georgia, "Times New Roman", seriff;
	width: 720px;
	margin: 8px auto;
	background-color: #eee8d5;
	color: #657b83;
}

h1, h2, h3, em, strong {
	color: #586e75;
}

h1 {
	font-size: 29px;
	line-height: 32px;
}

h2 {
	font-size: 25px;
	line-height: 32px;
}

h3 {
	font-size: 21px;
	line-height: 24px;
}

img {
	padding: 0;
	border-style: none;
}

em {
	font-weight: bold;
	font-style: italic;
}

strong {
	font-weight: bold;
}

blockquote {
	padding: 16px;
	background-image: url('/images/quotes-open.png');
	background-repeat: no-repeat;
}

a {
	color: #cb4b16;
	text-decoration: none;
	font-weight: bold;
}

ul li {
	line-height: normal;
}

article {
	background-color: #fdf6e3;
	padding: 8px;
}

code {
	font-family: Menlo, Monaco, "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", Courier, mono;
}

.quote {
	margin: 16px;
	background-position: left top;
	background-image: url('/images/quotes-open.png');
	background-repeat: no-repeat;
}

.quote .quotation {
	font-size: 27px;
	background-position: right bottom;
	background-image: url('/images/quotes-close.png');
	background-repeat: no-repeat;
	min-height: 32px;
	margin-right: 16px;
}

.quote .source {
	margin-left: 48px;
	margin-top: -16px;
	font-weight: bold;
}

body#post article header h1 {
	border-bottom-style: solid;
	border-bottom-color: #eee8d5;
}

body#post article header aside {
	font-size: 15px;
	line-height: 16px;
}

/*TODO: Add index, archive, prev, next, nav rules here*/

body#archives article {
	border-bottom-style: solid;
	border-bottom-color: #eee8d5;
}

body#home {
	background-color: #002b36;
	color: #839496;
	margin: 0 auto;
	width: 960px;
	position: relative;
}

body#home h1,
body#home h2,
body#home h3,
body#home em,
body#home strong {
	color: #93a1a1;
}
body#home h1,
body#home h2,
body#home h3 {
	margin: 0;
}

body#home a {
	color: #cb4b16;
}

body#home > div {
	clear: both;
	margin-top: 16px;
	overflow: hidden;
}

body#home > div > section {
	float: left;
	width: 300px;
	padding: 0;
	margin: 0 0 0 16px;
}

body#home > div > section#photo {
	width: 500px;
	height: 400px;
	margin-left: 0;
}

body#home > div > section#photo img:before {
	z-index: -2;
	position: absolute;
	background: transparent;
	width: 70%;
	height: 55%;
	content: '';
	left: 10px;
	bottom: 10px;
	transform: skew(-15deg) rotate(-6deg);
	-webkit-transform: skew(-15deg) rotate(-6deg);
	-moz-transform: skew(-15deg) rotate(-6deg);
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

body#home > div > section#photo img:after {
	z-index: -1;
	position: absolute;
	background: transparent;
	width: 70%;
	height: 55%;
	content: '';
	right: 10px;
	bottom: 10px;
	transform: skew(15deg) rotate(6deg);
	-webkit-transform: skew(15deg) rotate(6deg);
	-moz-transform: skew(15deg) rotate(6deg);
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

body#home > div > section#blog {
	width: 440px;
}

body#home > div > section#blog article {
	width: 440px;
	background-color: inherit;
	073642
}

body#home > div > section#blog article header h1 {
	border-bottom-style: solid;
	border-bottom-color: #073642;
}

body#home > div > section#blog article header aside {
	font-size: 15px;
	line-height: 16px;
}

body#home > div > section#about {
	margin-left: 0;
}

body#home div.tweet {
	margin: 16px 0px;
}

body#home div.tweet blockquote {
	background-image: none;
	margin: 0;
	padding: 0;
}

body#home div.tweet p {
	text-align: right;
	margin: 0;
	padding: 0;
}

body#home div.commit {
	margin: 16px 0px;
}

body#home div.commit ul {
	margin: 0;
	padding: 0 0 0 16px;
}

body#home footer {
	text-align: center;
}
