<!DOCTYPE html>
<html>

<head>
  <title>{{ page.title }}</title>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <meta name="author" content="Mike Moore">
  <link rel="alternate" href="http://feeds.feedburner.com/blowmage" title="feed">
  <link rel="stylesheet" href="/stylesheets/blowmage.css" media="screen" title="default" charset="utf-8">
  <link rel="stylesheet" href="/stylesheets/solarized.css" charset="utf-8">
</head>

<body>

{{ content }}

<script src="http://www.google-analytics.com/urchin.js"></script>
<script>_uacct = "UA-73219-1"; urchinTracker();</script>

</body>

</htmL>