<!DOCTYPE html>
<html>

<head>
  <title>{{ page.title }}</title>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <meta name="author" content="Mike Moore">
  <link rel="alternate" href="http://feeds.feedburner.com/blowmage" title="feed">
  <link rel="openid.server" href="http://www.myopenid.com/server">
  <link rel="openid.delegate" href="http://blowmage.myopenid.com/">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js" charset="utf-8"></script>
  <script src="/javascripts/home.js" charset="utf-8"></script>
  <link rel="stylesheet" href="/stylesheets/blowmage.css" media="screen" title="default" charset="utf-8">
  <link rel="stylesheet" href="/stylesheets/textmate.css" charset="utf-8">
  <link rel="stylesheet" href="/stylesheets/syntax.css" charset="utf-8">
</head>

<body id="home">

{{ content }}

<script src="http://www.google-analytics.com/urchin.js" ></script>
<script>_uacct = "UA-73219-1"; urchinTracker();</script>

</body>

</htmL>