<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ page.title }}</title>
    <meta name="author" content="Mike Moore">
    <link rel="alternate" href="http://feeds.feedburner.com/blowmage" title="feed">
    <link rel="openid.server" href="http://www.myopenid.com/server">
    <link rel="openid.delegate" href="http://blowmage.myopenid.com/">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="/javascripts/jquery.backstretch.js"></script>
    <script>
      jQuery(function($) {
        // To attach Backstrech as the body's backgroun
        $.backstretch("/images/roa3.jpg", { centeredX: false, centeredY: false });
      });
    </script>
    <script src="http://imakewebthings.github.com/jquery-waypoints/waypoints.min.js" charset="utf-8"></script>
    <script src="/javascripts/p0n13s.js" charset="utf-8"></script>
    <link rel="stylesheet" href="/stylesheets/blowmage.css">
    <link rel="stylesheet" href="/stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body id="home">
    <div class="wrapper">
      <header>
        <h1>blowmage</h1>
        <p class="avatar"><a href="http://www.flickr.com/photos/blowmage/4390027637/" title="Mike Moore - blowmage"><img src="http://farm3.staticflickr.com/2782/4390027637_cca83204a1_n.jpg" width="270" height="200" alt="Mike Moore - blowmage"></a></p>
      </header>
      <section>
        {{ content }}
      </section>
      <footer>
        <p>My name is Mike Moore. I like to hack with Ruby. You can <a href="http://humanecode.com/hire">hire me</a>. <a href="/about">more...</a></p>
        <ul>
          <li>Email: <a href="mailto:mike@blowmage.com" rel="email">mike@blowmage.com</a></li>
          <li>Phone: <a href="tel:+1-801-541-8810" rel="tel">801.541.8810</a></li>
        </ul>
        <p>&copy; 2013 Mike Moore</p>
      </footer>
    </div>
    <script src="/javascripts/scale.fix.js"></script>
    <script src="http://www.google-analytics.com/urchin.js"></script>
    <script>_uacct = "UA-73219-1"; urchinTracker();</script>
  </body>
</html>
