---
layout: default
---
<article>
  <h1>{{ page.title }}</h1>
  <section id="content">
  {{ content }}
  </section>
  <section id="comments">
    <div id="disqus_thread"></div>
    <script src="http://disqus.com/forums/blowmage/embed.js"></script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript=blowmage">comments powered by Disqus.</a></noscript>
  </section>
  <footer>
    <p>published {{ page.date | date_to_string }}</p>
    <nav>
      <ul>
        <li><a href="/" rel="index">Start over</a></li>
        <li><a href="/archives" rel="archives">Check out my annals</a></li>
{% if page.previous.url %}
        <li><a href="{{page.previous.url | replace:'.html','' }}" rel="prev"> Previous &laquo; {{page.previous.title}}</a></li>
{% endif %}
{% if page.next.url %}
        <li><a href="{{page.next.url | replace:'.html','' }}" rel="next">Next &raquo; {{page.next.title}}</a></li>
{% endif %}
      </ul>
    </nav>
  </footer>
</div>